tr {
 color: black;
 background: #EABEBE;
 }
 p {
 color: black;
 text-align: justify;
 }
 body {
 background:#FFECD9;
 }
 .merah {
 color:black;
 text-align:center ;
 background : #E49191;
 }
 .koplak {
 color: #CD4C4C;
 }
