{
    padding:0;
    margin:0;
    font-family: sans-serif;
}
a{
    color: inherit ;
    text-decoration: none;
}
.medsos{
    padding:5px 0;
    background-color: #613A43
}
.medsos ul li {
    display: inline-block;
    color: beige;
    margin-right: 10px;
}
.container {
    width: 80%;
    margin:0 auto;
}
.container:after{
    content: "";
    display: block;
    clear: both;
}
header h1{
    float: left;
    padding:15px 0px;
    color: #613A43;
}
header ul{
    float: right;
}
header ul li {
    display: inline-block;
}
header ul li a {
    padding:25px 20px;
    display: inline-block;
}
header ul li a:hover {
    background-color:#613A43;
    color: ivory;
}
.active{
    background-color:#613A43;
    color: ivory;
}
.banner{
    height: 60vh;
    background-image: url(cloud.jpeg) ;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner :after{
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom:0px;
}
.banner h2{
    color:#613A43;
    z-index: 5;
    padding:20px 25px ;
    border: 3px #36384C;
}
section{
    padding: 50px 0;
}
section h3{
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    outline-style: auto;
}
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color:hsl(249, 96%, 27%);
    border-style: dotted;
}
section h3{
    text-align: center;
    padding: 120px 0;
    color: #613A43;
    margin-bottom: 20px ;
}
.about{
    color: #613A43;
    line-height: 25px;
}
footer{
    padding: 30px 0;
    background-color: #613A43;
    color: #E9DCCD;
    text-align: center;
}
.label{
    background-color: #613A43;
    color: #E9DCCD;
}
.gallery{
    margin: 5px;
    width: auto;
    float: inline-start;
}
.gallery img {
    width: 200px;
    height: auto;
}
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: #613A43;;
    border-style: solid;
}
td, th {
    background-color: #E3BAB3;
    border: 5px #36384C;
    text-align: center;
    padding: 10px;
}
tr:nth-child(even) {
    background-color:#E9DCCD;}

    <style>
	div {margin: 10px 10px 10px 10px;}
	p 	{margin: 10px 10px 10px 10px;}
	h1  {text-align:center}
	body {background-color:#E3BAB3;}
	p    {background-color:#E9DCCD;}
	table {width:100%}
	table, th, td { border: 1px #36384C;border-collapse: collapse;}
</style>
